# Activity 2: Practicing with Pandas

For this activity, we will assume the role of a data scientist in the search for and evaluation of public datasets. In turn, pay close attention to the dataset you choose for counter narratives or nonapparent political values, gaps or underrepresented perspectives. 

Please make sure you open this file in Jupyter Notebook -- you will have to open Jupyter Notebook first before being able to edit the file. 

Please make sure you **print your output.** You may need to use ```print``` for your output to be displayed.

-----
## Instructions
1. Create an "Activities" folder in your Python Portfolio folder;
2. Write about your progress on today's activity in your weekly lab reflection.

## Data biography: Trans-Atlantic Slave Trade dataset

To complete the assignment, please make sure you download the dataset: [https://csc10800.github.io/assets/datasets/Trans-Atlantic-Slave-Trade_Americas.csv](https://csc10800.github.io/assets/datasets/Trans-Atlantic-Slave-Trade_Americas.csv).

### 1. Before you begin your exploration, you will provide a short data biography (1 - 2 paragraphs) on the dataset that addresses **where the data came from, who collected it, and the original intention(s) for its collection.**

You may find the following sources useful for your research:
* [Slave Voyages' Trans-Atlantic Slave Trade methodology](https://www.slavevoyages.org/voyage/about#methodology/introduction/0/en/)
    * You may find the sections: Introduction, Coverage of the Slave Trade, and Nature of Sources particularly useful.
* [Slave Voyages' About](https://www.slavevoyages.org/about/about#)
* [Jamelle Bouie's We Still Canâ€™t See American Slavery for What It Was](https://csc10800.github.io/assets/pdf/Bouie_we_still_cant_see_american_slavery_for_what_it_is.pdf)

**Double click to edit cell**     
Please type your answer here.

-----

### 2. How many rows of data does the dataset contain?

## Download and explore dataset

As we have been practicing in class, the questions that follow will require you to consider what output you will need before running the appropriate python codes. 

To ensure your code runs, please remember to load ```pandas``` and the ```Trans-Atlantic-Slave-Trade_Americas.csv``` file into the jupyter notebook environment.

In [ ]:
import pandas

In [51]:
df = pandas.read_csv('Trans-Atlantic-Slave-Trade_Americas.csv')

In [57]:
df.describe()

,year_of_arrival,percent_women,percent_children,percent_men,total_embarked,total_disembarked,voyage_id
count,20779.000000,2910.000000,2948.000000,2910.000000,20760.000000,20757.000000,20779.000000
mean,1751.976804,0.274098,0.231531,0.497050,294.991426,251.515971,42786.301025
std,59.760063,0.117165,0.149827,0.141758,148.014998,128.069691,32388.224742
min,1520.000000,0.000000,0.000000,0.000000,1.000000,1.000000,112.000000
25%,1724.000000,0.195140,0.114495,0.406628,194.000000,163.000000,17867.500000
50%,1765.000000,0.264365,0.214750,0.497575,282.000000,241.000000,31925.000000
75%,1792.000000,0.346658,0.321993,0.586990,368.000000,313.000000,78281.500000
max,1866.000000,1.000000,1.000000,1.000000,2024.000000,1700.000000,900206.000000

**Double click to edit cell**     
Please type your answer here.

### 3. Are the data types for each column appropriate? Please explain how they are/not approrpiate for your analysis.

**Double click to edit cell**     
Please type your answer here.

### 4. What is the overall average proportion of ```percent_women```, ```percent_children```, ```percent_men```?

**Double click to edit cell**     
Please type your answer here.

### 5. How many of the column values for ```percent_women```, ```percent_children```, ```percent_men``` are left blank? Suggest 1 reason why majority of the values in these columns are blank.

In [ ]:
#Your code here

**Double click to edit cell**     
Please type your answer here.

### 6. Display all duplicated rows and remove the duplicates. Check that the duplicates were successfully removed. Please also suggest a reason why we would remove duplicates for our analysis.

**Level-up**: How many duplicated rows do we have? Recall the methods we have used to help us count things.

In [1]:
#Your code here

**Double click to edit cell**     
Please type your answer here.

### 7. Please identify the **top 5 most common ports of arrival**.

**Hint:** Check the columns ```place_of_landing```.

In [2]:
#Your code here

**Double click to edit cell**     
Please type your answer here.

### 8. Please plot the **top 5 enslavers/captors** from this dataset. Please choose the appropriate visualization (e.g. pie chart, bar chart) to display your finding.

In [3]:
#Your code here

-----

## Checking-in on exploration

### 9. Having briefly explored the dataset, what further questions have emerged as you explored this dataset?    

Please share your thoughts in a few sentences.

**Double click to edit cell**     
Please type your answer here.

-----

## Side quest challenge

The side quest challenge is for extra credit. You can still get full credit for this activity even if you do not complete this challenge.

### 1. Which enslaver/captor had the highest difference between the total number of people who embarked and disembarked?

**Hint:** You may need to [add a column](https://github.com/GCDigitalFellows/intro-pandas-dri-2022/blob/main/README.md#8-rename-select-drop-and-add-new-columns) to calculate the difference, use the [```.groupby```, ```.count()``` and ```.sort_values``` methods](https://github.com/GCDigitalFellows/intro-pandas-dri-2022/blob/main/README.md#9-sort-columns-groupby-columns--count-values) for this challenge.

**Double click to edit cell**     
Please type your answer here.