# Panads Introduction

In [55]:
import pandas as pd

- First we create a `student_data` variable
- Then we create a `column` variable
- Lastly, we create the `students` DataFrame

In [57]:
student_data = [[1,15], [2,11], [3, 11], [4, 20]]

In [59]:
columns = ['student_id', 'age']

In [61]:
students = pd.DataFrame(data=student_data, columns=columns)

In [63]:
students

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

**We're now going to count how many rows and columns our dataset has...**

In [65]:
rows = len(students) # len is a function that returns the
                     # length of what's inside

In [67]:
print(f"The students dataset has {rows} rows")

The students dataset has 4 rows

In [73]:
student_columns = len(students.columns)

In [75]:
print(f"The students dataset has {student_columns} columns")

The students dataset has 2 columns

### Checkpoint:

1. We imported panads
2. We created a `students` dataset
3. We counted how many rows and columns are in the `students` dataset

**Print out the first 3 rows of the `students` dataframe...**

`Panads` has a function called `.head(x)` which prints out the first `x` rows of your `DataFrame`

In [82]:
students.head(3)

   student_id  age
0           1   15
1           2   11
2           3   11

There's another way to print the first `x` rows using Python. We can use a technique called slicing where we provide the starting row and the ending row in square brackets, seperated by a colan

**Example:** [1:2] would include the first row but not the second

In [88]:
students[1:2]

   student_id  age
1           2   11

In [84]:
students.tail(2)

   student_id  age
2           3   11
3           4   20

We may want to do further analysis on a sample of our full dataset (the population). For this, we can use the `.sample()` method provided by `panads`.

`.sample(x)` prints out `x` **random** rows within your full dataset.

In [100]:
students.sample(3)

   student_id  age
2           3   11
3           4   20
1           2   11

### Checkpoint:

1. We imported panads
2. We created a `students` dataset
3. We counted how many rows and columns are in the `students` dataset
4. **We printed out the first 3 rows of the `students` dataset**